.Loader-Container
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.267);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que esté encima de otros elementos */
}
.Loader__gift
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}